.tier {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tier-logo {
    flex: 0;
    margin-left: 1%;
    margin-right: 1%;
}

@media (max-width: 992px) {
    .tier-logo {
        margin: 10px;
    }

    .silver-logo {
        width: 30vh!important;
    }
}