:root {
  --darkred: #c7102f;
  --rubyred: #DD1133;
  --gryphred: #D82929;
  --redhover: rgb(231, 27, 61);
  --redclick: #c5112f;
  --gryphyellow: #FFC14A;
  --lightyellow: #ffcf76;
  --lightgrey: #bbbbbb;
  --darkfade: rgba(61, 61, 61, 0.7);
  --darkgrey: #3D3D3D;
  --midgrey: #464646;
  --greyhover: #505050;
  --selectgrey: #323232;
  --softblack: #242425;
  --blackfade: rgba(28, 28, 30, 0.8);
  --gryphnavy: #122F4C;
}

body {
  font-family: 'Sora';
  font-size: small;
  color: black;
  /* height: 100%; */
}

body::before {
	background-image: url("../../assets/Circuit\ Board.svg");
	background-size: cover;
	content: "";
	height: 100%;
	position: fixed;
	width: 100%;
	will-change: transform;
	z-index: -1;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* May have issues on mobile? html height is alt */
  min-height: 100vh; 
  overflow-x: clip;
}

.content {
  flex: 1;
}

.page-content {
  margin: auto;
  width: 75%;
  background:  rgba(138, 138, 138, 0.3);
  height: 100%;
}

.section-title {
  letter-spacing: 10px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.red-button:hover {
  background-color: var(--redhover);
  transition: ease-in-out 0.2s;
}

.red-button:active {
  background-color: var(--redclick);
  outline: none;
  transition: ease-in-out 0.2s;
}

#mlh-trust-badge {
  display:block;
  max-width:100px;
  min-width:60px;
  position:fixed;
  right:2%;
  width:10%;
  z-index:10000;
}

#mlh-trust-badge img {
  width: 100%;
}
