:root {
  --gryphred: #D82929;
  --redhover: #d83c3c;
  --gryphyellow: #FFC14A;
  --lightgrey: #C4C4C4;
  --darkgrey: #3D3D3D;
  --softblack: #242425;
}

body {
  font-family: 'Sora';
  font-size: small;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* May have issues on mobile? html height is alt */
}

.content {
  flex: 1;
}
