/* html {
  height: 100%;
} */

body {
  font-family: 'Sora';
  font-size: small;
}

.page-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; May have issues on mobile? html height is alt */
}

.content {
  flex: 1;
}
