.navbar {
    background-color: var(--darkgrey);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-link-box {
    transition: background-color 0.3s ease;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.underline {
    border-bottom: 3px solid var(--darkred);
    background-color: var(--selectgrey);
    line-height: 38px;
    height: 55px;
}

@media screen and (max-width: 992px) {
    .underline {
        border-bottom: none;
    }
}

.navbar-logo {
    margin: 5px;
}

.logo-div-navbar {
    transition: ease 0.3s;
}

.logo-div-navbar:hover {
    transform: translateZ(0) scale(1.07);
}

.nav-word {
    text-align: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    color: #FFFFFf;
    text-decoration: none;
    transition: all 0.2s ease-in; 
}

.nav-word:hover {
    color: white;
}

.navbar-link-box:hover {
    background-color: var(--greyhover);
}
