
#countdownContainer {
    padding: 50px;
    display: flex;
    
    
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
  
}

#countdownContainer h2 {

    color: rgb(121, 121, 121);
    text-align: center;
    font-size: 50px;
   

}

#countdown {
    flex: 1;
    justify-content: center;
    padding: 10px;
}
  
#countdown li {
    
    color: white;
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    text-transform: uppercase;
    /* This margin is weird for 3 digits */
    padding: 10px;
}
  
.timeCard span {
    
    color: white;
    position: relative;
    width:120px;
    display: block;
    font-size: 15px;
}

.timeCard h1 {
    color: white;
    font-size: 70px;
}