
#countdownContainer {
    padding: 50px;
    
    
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
  
}

#countdownContainer h2 {

    color: rgb(121, 121, 121);
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
   

}

#countdown {
    border: 5px solid gray;
    padding: 10px;

    
}
  
#countdown li {
    
    color: white;
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding-bottom: 0;      
    text-transform: uppercase;
    margin-left: 2px;
}
  
.timeCard span {
    
    color: white;
    position: relative;
    width:100px;

    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    font-size: 15px;
}

.timeCard h1 {
    

    color: white;
    border-radius: 20px;
    font-size: 60px;
}