/* contains title and layout(for cards) */
#judgesSection {
    color: white; 
    background-color: var(--gryphred);
    padding: 2% 10%;
    text-align: center;
}

#judgesSection h3 {
    text-align: center;
}

/* Layout for the guest cards */
#layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    #layout{
        padding: 0 5%;
    }
}


  