.splash-title {
    padding-top: 100px;
    font-family: 'Fira Code', monospace;
}
.splash-title h1 {
    display:inline-block;
    font-Style: normal;
    font-Weight: bold;
    font-Size: 120px;
    line-Height: 120%;
    letter-Spacing: 0.05em;
}

.info-div {
    display: inline-block;
    position: relative;
    padding-top: 50px;
}
.info-text {
  
    display : inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.08em;
    color:white;
}
.separator {
    display : inline-block;
    color: var(--gryphyellow);
    padding-left: 10px;
    padding-right: 10px;
}

.landing-background {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8)) , url('../../../assets/PolygonBackground1920x1080.svg');  
    background-size: cover;
    background-repeat: no-repeat; 
}
