.register {
    padding-bottom: 50px;    
}

#hackie {
    background-color: #DD1133;
    border-radius: 20px;
    color: white;
    border:none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    right: 10px;
}


#mentor {

    background-color: transparent; 
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 10px;
}

.link {
    margin-top: 50px;
    color: white;
    position: relative;
    
}

.link:hover {
    color: white; 
}

.register-title {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    padding-bottom: 30px;
}