.register {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    /* background-color: var(--darkgrey); */
    /* background-color: var(--darkfade);
    border-radius: 10px; */
    padding: 30px;
    width: 80%;
}

.register-buttons {
    margin-top: 20px;
    display: flex;
    font-size: large;
    gap: 15px;
}

.submissions-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 5px;
}

#primary-button {
    border: none;
    border-radius: 25px;
    background-color: var(--rubyred);
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

#primary-button:hover {
    background-color: var(--redhover);
}

#primary-button:active {
    background-color: var(--redclick);
    outline: none;
}

#secondary-button {
    background-color: transparent; 
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

#secondary-button:hover {
    background-color: rgba(255, 255, 255, 0.115);
}

#secondary-button:active {
    background-color: white;
    color: black;
    outline: none;
}

.sponsor-link-div {
    display: flex;
    align-items: center;
    padding: 20px;
}
.sponsor-link-div h6 {
    color: white;
}

.link {
    color: white;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    color: var(--gryphyellow); 
}

.register-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* color: var(--gryphyellow); */
    color: white;
    padding-bottom: 10px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.register p {
    color: white;
    font-size: medium;
}
