.cardStyle{
        display: flex;
        flex-Direction:row;
        justify-Content: center;
        align-Items: center;
        column-Gap: 5%;
        padding: 5% 5;
        margin-Bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
}

@media (max-Width:1000px) {
    .cardStyle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vh;
    }    
}