#container1  {
    float:center;
    position: relative;
    display: block;
    border: 5px solid gray;
    border-radius: 5px;
    background-color: #4A4A4A;
    height: 500px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
   
   
}

#p1{
    color: white;
    text-align: center;
    font-size: 20px;
}

#p2{
    float: left;
}

#button{

    background-color: #DD1133;
    border-radius: 20px;
    color: white;
    border:none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: relative;
    top: 100px;
    right: -300px;
    float:left;
}


#link{
    color: white;
    margin-left: 50px;
    position: relative;
    right:0px;
    top: 110px;
    float:center;
}

#textContainer{
    position: relative;

    left: 180px;
    float: center;
    width: 700px;
    top: 50px;
    display:flex;
    justify-content: center;
}

#text{
    font-size: 50px;
}

#title{
    font-family: Sora;
    letter-spacing: 10px;
    color: #212121;
font-style: normal;
font-weight: normal;
font-size: 50px;

}