.sponsor-landing-card  {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--midgrey);
    /* background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(82,82,82,1) 100%); */
    background:  var(--blackfade);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
}

.sponsor-landing-card h1 {
    color: var(--lightyellow);
    text-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    padding-bottom: 3%;
}

.sponsor-landing-card p {
    color: white;
    text-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    line-height: 2;
    font-size: medium;
    margin-top: auto;
    width: 80%;
}

.sponsor-landing-card span {
    color: var(--lightyellow);
}

.sponsor-button {
    background-color: var(--rubyred);
    border-radius: 20px;
    color: white;
    border:none;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 40px;

    font-size:large;
    transition: all 0.2s ease;
}

#sponsor-link {
    letter-spacing: 0.5px;
    /* font-weight: bold; */
    color: var(--lightyellow);
    transition: all .2s ease-in-out;
}

#sponsor-link:hover {
    color: #fffdf2;
}
