#container {
    margin: auto;
    width: 80%;
    background:  rgba(138, 138, 138, 0.4);
    max-height: 100%;
}

#title {
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5%;
}

#about p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}

#about{
    border-radius: 10px;
    background-color: #202020;
    margin-left: 10%;
    margin-right: 10%;
    max-height: 100%;
    border: 1px solid #202020;
    box-shadow: -23px 20px 20px 0px  #DD1133;
    margin-bottom:10%;
}