#about p {
    margin-bottom: 0;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 25px;
    color: white;
    line-height: 2;
    font-family: Roboto;
    font-size: medium;
    text-align: center;
}
#about p:last-child {
    padding-bottom: 25px;
}

#about {
    border-radius: 10px;
    background-color: var(--blackfade);
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}