.member-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid var(--gryphyellow);
    background-color: var(--gryphyellow);
    border-radius: 50%;
    transform: translateZ(0);
    box-shadow: 0 0 2px 1px rgba(160, 160, 160, 0.5);
    transition: ease 0.4s;
    
}

.member-picture:hover {
    transform: translateZ(0) scale(1.04);
    box-shadow: 0 0 2px 1px rgba(160, 160, 160, 0.5);
    transition: all 0.3s ease-in-out;
}

.team-member-card {
    flex: 0 1 calc(25% - 20px); /* <-- adjusting for margin */
    text-align: center;
}

.team-member-card h5 {
    padding-top: 5px;
    
}
.team-member-card p {
    font-size: medium;
}

.member-socials {
    text-align: center;
    padding-bottom: 20px;
}
.member-socials a {
    color: black;
    padding: 5px;
    transition: ease 0.2s;
}

.member-socials a:hover {
    color: var(--darkgrey);
    transition: ease 0.2s;
}

.team-member-grid {
    margin:auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
