footer {
    color: white;
    background-color: var(--darkgrey);
    margin-top: auto;
    padding-top: 3em;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
    /* display: flex;
    justify-content: center; */

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /* align-items: center; */
    justify-items: center;
}


footer .wrapper {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.col {
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    /* flex-basis: 40%;
    flex-wrap: nowrap; */
}

footer .newsletter {
    text-align: start;
}

footer .social {
    text-align: center;
}

footer .questions {
    text-align: end;
    /* TODO what is the actual calculation for how far to translate to make it even? */
    transform: translateX(-24%);
}

.footer-bottom {
    width: 100%;
    color: white;
    background-color: var(--softblack);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.footer-bottom p {
    margin-top: 20px;
}

footer a {
    color: white;
    margin-left: 2px;
    text-decoration: none;
    transition: 0.2s;
}

footer a:hover {
    color: var(--gryphyellow);
    text-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}

/* .overlay-svg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
} */