.newsletter-form {
    display: flex;
    flex-wrap: nowrap;
}
    
.newsletter-form button {
    border: none;
    border-radius: 2px 2px 2px 2px;
    background-color: var(--gryphred);
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    color: white;
    font-size: 14px;
    text-align: center;

    margin-top: 12px;
    height: 32px;
    width: 90px;

    transition: background-color 0.08s ease;
}

.newsletter-form button:hover {
    background-color: var(--redhover);
}

.newsletter-form button:active {
    background-color: #d32828;
    box-shadow: inset 0px 0px 5px #b62222;
    outline: none;
}

.custom-field {
    position: relative;
    font-size: 14px;
    margin-bottom: 10px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50%);
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
    user-select: none;
}

/* .custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 10px;
    font-size: 12px;
    color: white;
} */

.custom-field .placeholder.hidden {
    visibility: hidden;
}

.custom-field input {
    border: 2px solid #3D3D3D;
    border-radius: 3px;

    padding: 6px;
    font-size: 14px;
    
    outline: none;
    width: 250px;
    padding-left: 10px;
    /* font-size: 12px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    transition: border-color 0.1s ease;
}

.custom-field input:focus {
    border-color: var(--lightgrey);
}
