.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}
    
.newsletter-form button {
    border: none;
    border-radius: 5px;
    background-color: var(--rubyred);
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    color: white;
    font-size: 14px;
    text-align: center;

    height: 36px;
    width: 90px;

    transition: background-color 0.1s ease;
}

.newsletter-form button:hover {
    background-color: var(--redhover);
}

.newsletter-form button:active {
    background-color: var(--redclick);
    outline: none;
}

.custom-field {
    position: relative;
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50%);
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
    user-select: none;
}

/* .custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 10px;
    font-size: 12px;
    color: white;
} */

.custom-field .placeholder.hidden {
    visibility: hidden;
}

.custom-field input {
    border: 3px solid transparent;
    border-radius: 3px;

    padding: 5px;
    font-size: 14px;
    
    outline: none;
    width: 250px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    transition: border-color 0.1s ease;
}

.custom-field input:focus {
    border-color: var(--lightgrey);
}
