/* Contact component - form */
#contact-form {
    width: 100%;
    padding: 20px;
    background-color: var(--gryphnavy);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
#contact-form h5 {
    text-align: left;
    font-size: large;
    padding-bottom: 10px;
}
.form-group { /* padding between form elements */
    padding-bottom: 20px;
}
#name-form {
    display: flex;
    flex-direction: row;
}
#first-name-form {
    margin-right: auto;
    width: 48%;
}
#last-name-form {
    width: 48%;
}
.contact-submit {
    border: none;
    border-radius: 5px;
    background-color: var(--rubyred);
    min-width: min-content;
    min-height: min-content;
    padding: 8px;
    text-align: center;
    font-size: medium;   
    color: white;

    transition: background-color 0.1s ease;
}
